[submodule "lib3rd.downloaded/cppzmq.git"]
	path = lib3rd.downloaded/cppzmq.git
	url = https://github.com/zeromq/cppzmq.git
[submodule "lib3rd.downloaded/Catch2.git"]
	path = lib3rd.downloaded/Catch2.git
	url = https://github.com/catchorg/Catch2.git
[submodule "lib3rd.downloaded/RxCpp.git"]
	path = lib3rd.downloaded/RxCpp.git
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "lib3rd.downloaded/cpplinq.git"]
	path = lib3rd.downloaded/cpplinq.git
	url = https://github.com/mrange/cpplinq.git
[submodule "lib3rd.downloaded/libxml2.git"]
	path = lib3rd.downloaded/libxml2.git
	url = git://git.gnome.org/libxml2
[submodule "lib3rd.downloaded/libxslt.git"]
	path = lib3rd.downloaded/libxslt.git
	url = https://gitlab.gnome.org/GNOME/libxslt.git
[submodule "lib3rd.downloaded/mstch.git"]
	path = lib3rd.downloaded/mstch.git
	url = https://github.com/no1msd/mstch.git
[submodule "lib3rd.downloaded/yoga.git"]
	path = lib3rd.downloaded/yoga.git
	url = https://github.com/facebook/yoga.git
[submodule "lib3rd.downloaded/libzmq.git"]
	path = lib3rd.downloaded/libzmq.git
	url = https://github.com/zeromq/libzmq.git
[submodule "lib3rd.downloaded/ios-cmake.git"]
	path = lib3rd.downloaded/ios-cmake.git
	url = https://github.com/leetal/ios-cmake.git
[submodule "lib3rd.downloaded/lua-5.3.5.git"]
	path = lib3rd.downloaded/lua-5.3.5.git
	url = https://github.com/pandaxcl/lib3rd.git
	branch = lua-5.3.5
[submodule "lib3rd.downloaded/clips_core_source_640.git"]
	path = lib3rd.downloaded/clips_core_source_640.git
	url = https://github.com/pandaxcl/lib3rd.git
	branch = clips_core_source_640
[submodule "lib3rd.downloaded/scheme.gift/s7.git"]
	path = lib3rd.downloaded/scheme.gift/s7.git
	url = https://github.com/pandaxcl/lib3rd.git
	branch = s7
[submodule "lib3rd.downloaded/scheme.gift/tinyscheme-1.41.git"]
	path = lib3rd.downloaded/scheme.gift/tinyscheme-1.41.git
	url = https://github.com/pandaxcl/lib3rd.git
	branch = tinyscheme-1.41
