[submodule "lib3rd.downloaded/cppzmq.git"]
	path = lib3rd.downloaded/cppzmq.git
	url = https://github.com/zeromq/cppzmq.git
[submodule "lib3rd.downloaded/Catch2.git"]
	path = lib3rd.downloaded/Catch2.git
	url = https://github.com/catchorg/Catch2.git
[submodule "lib3rd.downloaded/RxCpp.git"]
	path = lib3rd.downloaded/RxCpp.git
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "lib3rd.downloaded/cpplinq.git"]
	path = lib3rd.downloaded/cpplinq.git
	url = https://github.com/mrange/cpplinq.git
[submodule "lib3rd.downloaded/libxml2.git"]
	path = lib3rd.downloaded/libxml2.git
	url = git://git.gnome.org/libxml2
[submodule "lib3rd.downloaded/libxslt.git"]
	path = lib3rd.downloaded/libxslt.git
	url = https://gitlab.gnome.org/GNOME/libxslt.git
